{% extends "fruit/base.html" %}
{% block content %}
{% load static %}
{% bootstrap_css %}
<div class="row justify-content-center">
	<div class="col-lg-8 col-md-10 col-sm-12">
		<div class="card mb-4 shadow-sm">
			<div class="card-header">
				<h3 class="my-0 font-weight-normal">パスワード再設定メール送信</h3>
			</div>
			<div class="card-body">
				<form action="" method="POST">
					{% csrf_token %}
					{{ form.non_field_errors }}
					<div class="form-content">
						{% for field in form %}
						<div class="auth-signup-form-group">
							<label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
							{{ field }}
							{{ field.errors }}
						</div>
						{% endfor %}
					<button type="submit" class="auth-signup-submit">送信</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}