{% extends "fruit/base.html" %}
{% block content %}
{% load static %}
{% bootstrap_css %}

<div class="mypage-container">
	<div class="mypage-outline">
		<h2>
			マイページ
		</h2>
		<div class="mypage-user">
			<div class="my-page-user-icon">
				<i class="fa fa-user fa-lg"></i>
			</div>
			<div class="mypage-user-name">
				{{ user.name }}
			</div>
		</div>
		<div>
			<a href="{% url 'fruit:edit_user' user.pk %}">
				<div class="account-control">
				<h3>アカウント情報</h3>
					<p>アカウント情報の追加登録・確認・変更</p>
				</div>
			</a>
			<a href="{% url 'fruit:order_history' %}">
				<div class="account-control">
				<h3>注文履歴</h3>
					<p>注文履歴の確認</p>
				</div>
			</a>
			<a href="{% url 'fruit:farm_info_page' user.pk %}">
				<div class="account-control">
					<h3>果物出品登録</h3>
					<p>果物出品情報の登録・確認・変更・削除</p>
				</div>
			</a>
			<a href="{% url 'fruit:delete_user' user.pk %}">
				<div class="account-control">
				<h3>アカウントの削除</h3>
					<p>アカウント情報の削除</p>
				</div>
			</a>
		</div>
	</div>
</div>
{% endblock %}